<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <form method="post" class="editing">
        <div class="form-group">
            <label th:for="action" class="editing-labels">Action:</label>
            <textarea rows="4" cols="50" name="action" class="form-control" th:text="${intervention.action}" maxlength="2000" required></textarea>
<!--=======-->
<!--            <label th:for="action">Action:</label>-->
<!--            <textarea rows="4" cols="50" name="action" class="form-control" th:text="${intervention.action}" maxlength="2000" required></textarea>-->
<!--&gt;>>>>>> b3459436ec1086a31466507374127a0250d21d77-->
            <br>
            <span th:text="${actionError}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <input type="submit" class="btn-primary" value="Update Action"/>
        <a th:href="@{'/view/' + ${intervention.id}}"><input type="button" class="btn-info" value="Cancel Update"/></a>
    </form>
</div>
<div class="footer">
    <p></p>
</div>
</body>
</html>