<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="delete">

    <form method="post" class="tags">
        <div class="form-group">
            <label th:for="delete" class="editing-labels" style="text-decoration:underline;">Confirm Delete</label><br>
            <a href="@{'/view/' + ${intervention.id}}" th:text="${intervention.name}"
               class="big-links-profile"></a> <br>
            <th:block>
                <h4>Are you sure you want to delete the strategy?</h4><br>
                <input type="radio" name="delete" th:value="${0}">
                <label  style="font-size:24px;">No!</label>
                <input type="radio" name="delete" th:value="${1}" >
                <label  style="font-size:24px;">Yes</label>
            </th:block>
        </div>

        <input type="submit" class="btn btn-danger btn-lg" style="margin-bottom:15px;color:black;font-weight:bold;"
               value="Confirm Delete"/>
        <a th:href="@{'/view/' + ${intervention.id}}"><input type="button" class="btn btn-info btn-lg"
                                                             style="margin-bottom:15px;color:black;font-weight:bold;"
                                                             value="Cancel Delete"/></a>
    </form>
</div>
<div class="footer">
    <p></p>
</div>
</body>
</html>