<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <form method="post" class="editing">
        <div class="form-group">
            <label th:for="expectedResponse" class="editing-labels">Expected Response:</label>
            <div class="remainingCharsMsg"></div>
            <textarea rows="4" cols="50" name="expectedResponse" class="form-control count-chars"
                      th:text="${intervention.expectedResponse}" minlength="20" data-min-chars="20"
                      style="font-size:18px;" maxlength="2000" data-max-chars="2000" required></textarea>
            <br>
            <span th:text="${expectedResponseError}" class="error" style="color:red;background-color:black;"></span>
            <br>
            <span th:text="${badWord}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <input type="submit" class="btn btn-info btn-lg" style="margin-bottom:15px;color:black;font-weight:bold;"
               value="Update Expected Response"/>
        <a th:href="@{'/view/' + ${intervention.id}}"><input type="button" class="btn btn-info btn-lg"
                                                             style="margin-bottom:15px;color:black;font-weight:bold;"
                                                             value="Cancel Update"/></a>
    </form>
</div>
<div class="footer">
    <p></p>
</div>
<script>
(function() {
document.addEventListener("keyup", function(event) {
if (event.target.matches(".count-chars")) {

let value = event.target.value;
let valueLength = event.target.value.length;
let maxChars = parseInt(event.target.getAttribute("data-max-chars"));
let remainingChars = maxChars - valueLength;

if(valueLength > maxChars) {
event.target.value = value.substr(0, maxChars);
return;
}
event.target.previousElementSibling.innerHTML = remainingChars + " characters remaining";
}
})
})();
</script>
</body>
</html>