<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label th:for="expectedResponse">Expected Response:</label>
            <textarea rows="4" cols="50" name="expectedResponse" class="form-control" th:text="${intervention.expectedResponse}" required></textarea>
            <br>
            <span th:text="${expectedResponseError}" class="error" style="color:red;"></span>
        </div>

        <input type="submit" class="btn-primary" value="Update Expected Response"/>
        <a th:href="@{'/view/' + ${intervention.id}}"><input type="button" class="btn-info" value="Cancel Update"/></a>
    </form>
</div>

</body>
</html>