<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <form method="post" class="editing">
        <div class="form-group">
            <label th:for="ifItFails" class="editing-labels">If It Fails:</label>
            <textarea rows="4" cols="50" name="ifItFails" class="form-control" th:text="${intervention.ifItFails}" ></textarea>
        </div>

        <input type="submit" class="btn-primary" value="Update If It Fails"/>
        <a th:href="@{'/editView/' + ${intervention.id}}"><input type="button" class="btn btn-info" style="margin-bottom:15px;color:black;font-weight:bold;" value="Cancel Update"/></a>
    </form>
</div>
<div class="footer">
    <p></p>
</div>
</body>
</html>