<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label th:for="tags">Tags:</label>
            <br>
            <th:block th:each="tag : ${tags}">
                <th:block th:each="ta : ${intervention.tags}">
                    <th:block th:if="${tag.id != ta.id}">
                        <input type="checkbox" name="tag" th:value="${tag.id}">
                        <label th:text="${tag.tagName}"></label>
                        <br>
                    </th:block>
                    <th:block th:if="${tag.id == ta.id}">
                        <input type="checkbox" name="tag" checked="checked" th:value="${tag.id}">
                        <label th:text="${tag.tagName}"></label>
                        <br>
                    </th:block>
                </th:block>
            </th:block>
        </div>

        <input type="submit" value="Update Tags"/>
    </form>
</div>

</body>
</html>