<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
<script type="text/javascript" th:src="@{/js/addInterventionInputs.js}"></script>


<div class="addIntervention">
    <form method="post" style="max-width:600px;">
        <h1>Add Intervention</h1>
        <h3>* Designates a required input.</h3>
        <br>
        <div class="form-group">
            <label id="checkBoxLabel" th:for="domains">*Domains:</label>
            <br>
            <th:block th:each="domain : ${domains}">
                <input th:id="${domain.domain}" type="checkbox" name="domains" th:value="${domain.id}">
                <label th:text="${domain.domain}" th:title="${domain.description}"></label>
                <br>
            </th:block>
            <br>
            <span>(Hover over Domain names for more info.)</span>
            <br>
            <span id="domainSelect" class="urgent"></span>
            <br>
            <span th:text="${checkBoxError}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <div class="form-group" style="text-align:left;">
            <label th:for="tags">*Tags:</label>
            <br>
            <th:block th:each="tag : ${tags}">
                <input id="tagCheckBox" type="checkbox" name="tag" th:value="${tag.id}">
                <label th:text="${tag.tagName}"></label>
                <br>
            </th:block>
            <br>
            <a th:href="@{'/tags/add'}">Add Tags</a>
            <br>
            <span id="tagSelect" class="urgent"></span>
            <br>
            <span th:text="${checkBoxErrorTag}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <div class="form-group">
            <label th:for="name">*Name:</label>
            <input id="name" class="form-control" th:field="${intervention.name}" maxlength="255"/>
            <div id="nameCounter" style="margin-top: 0.25rem; text-align: right">0</div>
            <span id="nameBlank" class="urgent"></span>
            <br>
            <span id="nameLength" class="urgent"></span>
            <br>
            <span th:errors="${intervention.name}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <div class="form-group">
            <label th:for="action">*Action:</label>
            <textarea rows="4" cols="50" id="action" class="form-control" th:field="${intervention.action}" maxlength="2000"/>
            <div id="actionCounter" style="margin-top: 0.25rem; text-align: right">0</div>
            <span id="actionBlank" class="urgent"></span>
            <br>
            <span id="actionLength" class="urgent"></span>
            <br>
            <span th:errors="${intervention.action}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <div class="form-group">
            <label th:for="expectedResponse">*Expected Response:</label>
            <textarea rows="4" cols="50" id="expectedResponse" class="form-control" th:field="${intervention.expectedResponse}" maxlength="2000"/>
            <div id="expectedResponseCounter" style="margin-top: 0.25rem; text-align: right">0</div>
            <span id="expectedResponseBlank" class="urgent"></span>
            <br>
            <span id="expectedResponseLength" class="urgent"></span>
            <br>
            <span th:errors="${intervention.expectedResponse}" class="error" style="color:red;background-color:black;"></span>
        </div>

        <div class="form-group">
            <label th:for="reference">Reference:</label>
            <input id="reference" class="form-control" th:field="${intervention.reference}" maxlength="2000"/>
            <div id="referenceCounter" style="margin-top: 0.25rem; text-align: right">0</div>
        </div>

        <div class="form-group">
            <label th:for="ifItFails">If It Fails, try:</label>
            <textarea rows="4" cols="50" id="ifItFails" class="form-control" th:field="${intervention.ifItFails}" maxlength="2000"/>
            <div id="ifItFailsCounter" style="margin-top: 0.25rem; text-align: right">0</div>
        </div>

        <br>
        <br>

        <input type="submit" class="btn-primary" value="Add Intervention"/>
    </form>
</div>


<div class="footer">
    <p></p>
</div>
</body>
</html>