<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>
<script type="text/javascript" th:src="@{/js/comment.js}"></script>

<div align="center">
    <h2 th:text="${comment.intervention}"></h2>

    <form method="post">
        <label for="userInput" style="color:white; font-size:25px">Edit Comment: </label><br>

        <div class="form-group">
            <textarea rows="7" class="form-control" th:for="userInput" id="userInput" th:field="${comment.userInput}"
                      required="required" maxLength="1000"/>
            <div id="userInputCounter" style="margin-top: 0.25rem; text-align: right;color:white;">0</div>
            <span th:errors="${comment.userInput}" class="error"></span>
            <br>
            <button onclick="saveComment()" class="btn btn-info btn-md"
                    style="margin-bottom:15px;color:black;font-weight:bold;" type="submit" value="Save">Save
            </button>
        </div>
    </form>
</div>
<div class="footer">
</div>

<script>
  function saveComment() {
       var result = confirm('Are you sure to save a comment?');
       if (result == false) {
         event.preventDefault();
       }
  }

  let navSlide = () => {
  let burger = document.querySelector('.burger');
  let nav = document.querySelector('.navbar-nav');
  let navLinks = document.querySelectorAll('.navbar-nav li');


    burger?.addEventListener('click', () => {
        nav.classList.toggle('nav-active');

        navLinks.forEach((link, index) => {
            if(link.style.animation) {
             link.style.animation = '';
            } else {
             link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.1}s`;
            }
        });

        burger.classList.toggle('toggle');
    });
  }

  navSlide();
</script>

</body>
</html>
