<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<h1 style="text-align:center;padding-bottom:15px;padding-top:30px;">Frequently Asked Questions</h1>

<div class="row content" style="padding-left:150px;padding-right:150px;">
    <table class="parenting-playbook">
        <th>
        <h3 style="text-align:center; padding-bottom:10px;">What is Executive Functioning?</h3></th>
        <tr>
            <td>
        <p style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">
            Executive functioning refers to the cognitive skills that people use to complete tasks.
            Neurodivergent individuals (people with ADHD, Autism, etc.) often struggle with executive
            functioning. Thankfully, there are lots of things you can try at home to help your child
            overcome some of these challenges!
        </p>
            </td>
        </tr>
    </table>
    <table class="parenting-playbook">
        <th>
            <h3 style="text-align:center;padding-bottom:10px;">How do I use the Parenting Playbook?</h3></th>
        <tr>
            <td>
        <li style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;"> Not sure where to start? Users can take a quiz to find out which areas of executive functioning their child
            may need extra supports with!
        </li>
        <li style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">You can also search by executive functioning domain, intervention, or by keywords.
        </li>
        <li style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">Join our community by creating an account!</li>
            </td></tr>
    </table>

    <table class="parenting-playbook">
        <th>
            <h3 style="text-align:center;padding-bottom:10px;padding-left:15px;padding-right:15px;">Do I have to make an account to use the Parenting Playbook?</h3></th>
       <tr>
           <td>
        <p style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">You don't have to make an account to use the Parenting Playbook, but
            there are many benefits to registering for an account with us!</p>
        <li style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">Users have the opportunity to find potential
            strategies to try at home save them to an account. </li>
        <li style="text-align:left;padding-left:15px;padding-right:15px;padding-bottom:5px;">Community members can also add interventions to the database
            that other users can access and comment on strategies they have tried in the past.
        </li>
           </td>
        </tr>
    </table>
    </div>

</body>
</html>