<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>

<h3>Parenting Playbook</h3>
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <div class="p-3 mb-2 bg-primary text-white">
                    <h3>What is executive functioning?</h3>
                    <p>
                        Executive functioning refers to the cognitive skills that people use to complete tasks.
                        Neurodivergent individuals (people with ADHD, Autism, etc.) often struggle with executive
                        functioning. Thankfully, there are lots of things you can try at home to help your child
                        overcome some of these challenges!

                    </p>
                    <h4>This site is an excellent resource for:</h4>
                    <ul>
                        <li>Parents</li>
                        <li>Caregivers</li>
                        <li>Teachers</li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-8 text-left">
                <div class="p-3 mb-2 bg-secondary text-white">
                    <h3>Welcome to the Parenting Playbook</h3>
                    <p>
                        We are a community of parents dedicated to sharing effective practices that will
                        increase children's executive functioning skills. These strategies can help
                        child improve their behavior, increase their confidence, and give them the
                        tools they need to succeed!
                    </p>

                </div>
                <div class="p-3 mb-2 bg-secondary text-white">
                    <p>Not sure where to begin? You can take our quiz to determine what areas of executive functioning
                        your child may need more help with. If you want to learn more about what each domain means, check out
                        the domains page. You can also browse all interventions of use our search function to find a strategy
                        that is just right for your child's specific needs.</p>
                </div>


                <table class="table">
                <div class="p-3 mb-2 bg-secondary text-white">
                    <tr>

                        <th scope="col">Function</th>
<!--                        <th scope="col">Description</th>-->

                    </tr>
                    <tr>
                        <td>
                            <ul th:each="domain : ${domains}">
                                <a th:href="@{'domains/view/' + ${domain.id}}" th:text="${domain.domain}"></a>
                            </ul>
                        </td>
<!--                        <td>-->
<!--                            <p th:each="domain : ${domains}">-->
<!--                                <a th:text="${domain.description}"></a>-->
<!--                            </p>-->
<!--                        </td>-->
                    </tr>

                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>