<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class="centered" style="padding-bottom:20px;">View Strategies By Category</h2>
</div>

<table class="parenting-playbook">
    <tr>
        <th style="padding-left:30px;">All</th>
        <th style="padding-left:30px;">Domains</th>
        <th style="padding-left:30px;">Tags</th>
    </tr>

    <tr>
        <td>
            <li style="list-style-type: none;padding-left:10px;">
                <a th:href="@{/list/interventions(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="domain : ${domains}" style="list-style-type: none;padding-left:10px;">
                <a th:href="@{/list/interventions(column=domain,value=${domain.domain})}"
                   th:text="${domain.domain}"></a>
            </li>
        </td>
        <td>
            <li th:each="tag : ${tags}" style="list-style-type:none; padding-left:10px;">
                <a th:href="@{/list/interventions(column=tag,value=${tag.tagName})}" th:text="${tag.tagName}"></a>
            </li>
        </td>
    </tr>
</table>
<div class="footer">
    <p></p>
</div>

</body>
</html>