<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head">-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="fragments :: page-header"></div>-->
<!--<div class="alert alert-warning text-center" role="alert" th:text="${mustlogin}" th:if="${mustlogin}"></div>-->

<!--&lt;!&ndash;<div th:replace="fragments :: page-title"></div>&ndash;&gt;-->

<!--<div class="container body-content col-5 mt-5">-->
<!--    <div class="row align-items-center">-->
<!--        &lt;!&ndash;      <div class="text-justify text-center">&ndash;&gt;-->
<!--        <div class="col">-->
<!--            <img class="profile-icon" th:src="@{images/profile.png}"/>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>-->
<!--            <h4 th:text="${user.email}"></h4>-->
<!--        </div>-->

        <!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org/">
        <head th:replace="fragments :: head">
        </head>
        <body>

        <div th:replace="fragments :: page-header"></div>
        <!--<div class="alert alert-warning text-center" role="alert" th:text="${mustlogin}" th:if="${mustlogin}"></div>-->

        <div class="container body-content col-5 mt-5">
            <div class="row align-items-left">
                <div class="text-justify text-left">
                    <div class="col">
                        <img class="profile-icon" th:src="@{images/profile.png}"/>
                    </div>
                    <div class="col">
                        <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>
                        <h4 th:text="${user.email}"></h4>
                    </div>
                </div>

                <table class="table">
                    <div class="p-3 mb-2 bg-secondary text-white">
                        <tr>
                            <th scope="col">My Contributions</th>
                        </tr>
                        <tr>
                            <th scope="col">My Saved Interventions</th>
                        </tr>
                        <tr>
                            <th scope="col">My Notes</th>
                        </tr>
                        <tr>
                            <th scope="col">Shared Links</th>
                        </tr>
                    </div>
                </table>
            </div>
        </body>
        </html>