<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: page-header"></nav>
<!--<div class="alert alert-warning text-center" role="alert" th:text="${mustlogin}" th:if="${mustlogin}"></div>-->
<div class="alert alert-warning text-center" role="alert" th:text="${mustlogin}" th:if="${mustlogin}"></div>

<div class="container body-content col-5 mt-5" style="color: white; cursor: pointer">
    <div class="row align-items-left" style="padding-top:40px;">
        <!--                <div class="text-justify text-left">-->
        <div class="col">
            <img class="profile-icon" th:src="@{images/parentingplaybook.png}"/>
        </div>
        <div class="col">
            <h4 th:text="${user.firstName + ' ' + user.lastName}"></h4>
            <h4 th:text="${user.email}"></h4>
        </div>
    </div>

<!--    <table class="table" style="color:white;">-->
<!--        <div class="p-3 mb-2 bg-secondary text-white">-->
<!--            <tr>-->
<!--                <th data-tab="myContributions" id="contributions" scope="col">My Contributions</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th data-tab="mySavedInterventions" id="interventions" scope="col">My Strategies</th>-->
<!--            </tr>-->
<!--        </div>-->
<!--    </table>-->


    <div>
        <br>
        <br>
        <button type="button" id="contributions" class="btn btn-info btn-lg" style="margin-bottom:15px;margin-right:15px;color:black;font-weight:bold;"
               data-tab="myContributions">My Contributions</button>
        <button type="button" id="interventions" class="btn btn-info btn-lg" style="margin-bottom:15px;color:black;font-weight:bold;"
                data-tab="mySavedInterventions">My Strategies</button>
    </div>

</div>



<div class="container">
    <div data-src="content" class="hide" id="myContributions">
        <h3 style="margin-bottom: 15px">Posted comment(s): </h3>

        <div style="color: white; background-color: rgba(255,255,255,0.1); border-radius: 5px; padding: 15px 25px">
            <table class="table myComment" style="font-size:18px;">
                <thead class="commentTab">
                <tr>
                    <th>Strategy Name</th>
                    <th>Posted Date</th>
                    <th>My comment</th>
                    <th>Edit / Delete</th>
                </tr>
                </thead>
                <tbody th:if="${user.comments} !=null" align="left" style="color: white">
                <tr th:each="comment : ${user.comments}">
                    <td th:text="${comment.intervention}"></td>
                    <td th:text="${comment.postedDate}"></td>
                    <td style="text-align:left" th:text="${comment}"></td>
                    <td><a class="btn btn-info btn-sm" style="margin: 4px 0 13px 0;color:black;font-weight:bold;"
                           th:href="@{'/editComment/' + ${comment.id}}">Edit</a>
                        <a onclick="deleteComment()" type="button" class="btn btn-danger btn-sm"
                           style="margin-bottom:10px;color:black;font-weight:bold;" th:href="@{'/delete/' + ${comment.id}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-src="content" class="hide" id="mySavedInterventions">
        <h3 class="standout-center">Strategies: </h3><br>
        <div style="margin-bottom:20px;">
            <a class="btn btn-info btn-dark" style="font-size:20px;color:black;font-weight:bold;" th:href="@{/add}">Add New
                Strategy</a>
        </div>
        <div>
            <div th:each="intervention : ${user.interventions}"
                 style="color: white; background-color: rgba(255,255,255,0.1);padding:10px;">
                <h4 class="standout-center">Strategy: </h4><br>
                <a th:text="${intervention.name}" th:href="@{'/view/' + ${intervention.id}}"
                   class="big-links-profile"></a><br>
                <div style="margin-top:10px;margin-bottom:10px;">

                    <a class="btn btn-info btn-lg" style="margin-bottom:15px;color:black;font-weight:bold;"
                       th:href="@{'/view/' + ${intervention.id}}">Edit</a>
                    <a type="button" id="delete" class="btn btn-danger btn-lg"
                       style="margin-bottom:15px;color:black;font-weight:bold;"
                       th:href="@{'/edit/delete/' + ${intervention.id}}">Delete</a></div>

            </div>
        </div>
        <!--            <div data-src="content" class="hide" id="myNotes">-->
        <!--                 <h3>My Notes:  </h3>-->
        <!--            </div>-->
        <!--            <div data-src="content" class="hide" id="sharedLinks">-->
        <!--                <h3>Shared Links: </h3>-->
        <!--            </div>-->
    </div>

    <script src="js/profile.js"></script>

    <div class="footer">
    </div>

    <script>
        function deleteComment() {
           var result = confirm('Are you sure you want to delete your comment?');
           if (result == false) {
             event.preventDefault();
           }
         }

    </script>
</div>

</body>
</html>