<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <h1> Quiz </h1>
    <h4 style="color:white;">Select each statement that describes your child. </h4>
    <h4 style="color:red;font-weight:bold;text-align:center;background-color:black;">This is not a diagnostic tool and
        is not intended to be used
        to provide any type of medical diagnosis.</h4>
</div>

<div style="color:white; text-align:left;margin-left:auto;margin-right:auto;padding:20px 400px;font-size:16px;">
    <form method="post" action="/results" th:object="${quizResults}">
        <label id="impulseControl" th:for="impulseControl">
        <div style="margin-top:10px;">
            <input type="checkbox" name="impulseControl"> My child shouts out without thinking.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="impulseControl"> When my child sees something they want, they immediately grab
            for it.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="impulseControl"> My child can't wait patiently.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="impulseControl"> My child is verbally aggressive toward others and immediately
            expresses remorse.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="impulseControl"> My child is physically aggressive toward others and
            immediately expresses remorse.
        </div>
        </label>
        <label id="emotionalControl" th:for="emotionalControl">
        <div style="margin-top:10px;">
            <input type="checkbox" name="emotionalControl"> My child seems to cry at things that aren't a big deal.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="emotionalControl"> My child has tantrums multiple times a week.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="emotionalControl"> My child's teacher says that they have outbursts in class.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="emotionalControl"> My child engages in unsafe behaviors when triggered by a big
            emotion.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="emotionalControl"> My child seems to go from '0-100' in an instant.
        </div>
        </label>
        <label id="flexibleThinking" th:for="flexibleThinking">
        <div style="margin-top:10px;">
            <input type="checkbox" name="flexibleThinking"> My child doesn't like to deviate from their normal routine.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="flexibleThinking"> My child struggles with unexpected changes.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="flexibleThinking"> When my child's mind is made up, it's hard to get them to
            change it.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="flexibleThinking"> My child struggles to compromise.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="flexibleThinking"> My child always believes they are right even when presented
            with evidence to the contrary.
        </div>
        </label>
        <label id="workingMemory" th:for="workingMemory">
        <div style="margin-top:10px;">
            <input type="checkbox" name="workingMemory"> My child can't follow multiple step directions.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="workingMemory"> My child forgets things they were told recently.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="workingMemory"> My child struggles with learning new concepts.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="workingMemory"> My child is always misplacing things and forgetting where they
            left them.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="workingMemory"> My child needs things repeated multiple times for
            understanding.
        </div>
        </label>
        <label id="selfMonitoring" th:for="selfMonitoring">
        <div style="margin-top:10px;">
            <input type="checkbox" name="selfMonitoring">My child easily gets off task.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="selfMonitoring">My child doesn't seem to realize that they are off task.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="selfMonitoring">My child's teacher says they struggle with appropriate behavior
            when overwhelmed or excited.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="selfMonitoring">My child doesn't seem to pay attention to how their body feels
            to let them know they are getting upset.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="selfMonitoring">My child needs someone to keep them on task and prompt
            frequently to get things done.
        </div>
        </label>
        <label id="planningAndPrioritizing" th:for="planningAndPrioritizing">
        <div style="margin-top:10px;">
            <input type="checkbox" name="planningAndPrioritizing">My child seems to complete tasks in a random order
            that is illogical.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="planningAndPrioritizing">My child is either almost always late or almost always
            early.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="planningAndPrioritizing">My child doesn't seem to understand how to organize
            their time to complete tasks.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="planningAndPrioritizing">My child doesn't understand how to break a task into
            sequential steps for completion.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="planningAndPrioritizing">My child struggles greatly with time management in
            various aspects of their life.
        </div>
        </label>
        <label id="taskInitiation" th:for="taskInitiation">
        <div style="margin-top:10px;">
            <input type="checkbox" name="taskInitiation">I don't understand why my child can't just start something when
            I ask.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="taskInitiation">It takes forever for my child to get down to work when given a
            direction.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="taskInitiation">My child is a major procrastinator.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="taskInitiation">My child will say things like, "I don't know what to do/how to
            start."
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="taskInitiation">My child gets sidetracked so easily that it takes a long time
            to follow directions.
        </div>
        </label>
        <label id="organization" th:for="organization">
        <div style="margin-top:10px;">
            <input type="checkbox" name="organization">My child's room/desk is almost always a mess.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="organization">My child keeps everything in cluttered piles instead of putting
            things away where they belong.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="organization">My child's folders are overflowing and their papers are crumpled.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="organization">My child can't seem to organize their thoughts/ideas.
        </div>
        <div style="margin-top:10px;">
            <input type="checkbox" name="organization">My child doesn't seem to understand how to clean their space.
        </div>
        <div style="margin-top:10px;">
            <input type="submit" value="Enter" style="color:black;">
        </div>
        </label>
    </form>
</div>
</body>
</html>
