<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method="post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}" />
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="job-listing">
        <tr th:each="intervention : ${interventions}">
            <td>
                <p>
                    Name:
                    <a th:href="@{'/view/' + ${intervention.id}}" th:text="${intervention.name}"></a>
                </p>
                <p th:text="${'Action: ' + intervention.action}"></p>
                <p th:text="${'Expected Response: ' + intervention.expectedResponse}"></p>
                <p>
                    Domain:
                    <ul th:each="domain : ${intervention.domains}">
                        <a th:href="@{'/domains/view/' + ${domain.id}}" th:text="${domain.domain}"></a>
                    </ul>
                </p>
                <p>
                    Tags:
                <ul th:each="tag : ${intervention.tags}">
                    <li style="list-style-type: none;">
                        <a th:href="@{'/tags/view/' + ${tag.id}}" th:text="${tag.tagName}"></a>
                    </li>
                </ul>
                </p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>