<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<h1>Executive Functioning Domains</h1>

<table class="parenting-playbook">
    <tr>
        <th scope="col" style="padding-left:40px;">Domains</th>
        <th scope="col" style="padding-left:40px;">Descriptions</th>
    </tr>
    <tr th:each="domain : ${domains}">
        <td scope="col">
            <ul > <a th:href="@{'/domains/view/' + ${domain.id}}" th:text="${domain.domain}"></a>
            </ul>
        </td>
        <td scope="col">
            <ul th:text="${domain.description}">
            </ul>
        </td>
    </tr>
</table>

<div class="footer">
</div>
</body>
</html>