<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<h1>Executive Functioning Domains</h1>

<table class="domains-table" padding="40px 40px">
    <tr>
        <th scope="col">Domains</th>
        <th scope="col">Descriptions</th>
    </tr>
    <tr th:each="domain : ${domains}">
        <td scope="col">
            <ul th:text="${domain.domain}">
            </ul>
        </td>
        <td scope="col">
            <ul th:text="${domain.description}">
            </ul>
        </td>
    </tr>
</table>


</body>
</html>