<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Domain: ' + domain.domain}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="tags">
<!--    <p class="standout">Domain:</p>-->
<!--    <p th:text="${domain.domain}"></p>-->
    <h4 style="text-align:left;">Description:</h4><br>
    <p th:text="${domain.description}"></p><br>

    <h4 style="text-align:left;"> Strategies:</h4><br>
    <ul>
        <li style="list-style-type: none;" th:each="intervention : ${domain.interventions}">
            <a th:href="@{'/view/' + ${intervention.id}}" th:text="${intervention.name}"></a>
        </li><br>
    </ul>
    </p>
</div>

<div class="footer">
</div>
</body>
</html>