<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Domain: ' + domain.domain}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p class="standout">Domain:</p>
    <p th:text="${domain.domain}"></p>
    <p class="standout">Description:</p>
    <p th:text="${domain.description}"></p>
    <p class="standout"> Interventions:</p>
    <ul>
        <li style="list-style-type: none;" th:each="intervention : ${domain.interventions}">
            <a th:href="@{'/view/' + ${intervention.id}}" th:text="${intervention.name}"></a>
        </li>
    </ul>
    </p>
</div>

<div class="footer">
</div>

</body>
</html>