<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Domain: ' + domain.domain}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="tags">
<!--    <p class="standout">Domain:</p>-->
<!--    <p th:text="${domain.domain}"></p>-->
    <h4 class="h4-standout">Description:</h4><br>
    <p th:text="${domain.description}"></p><br>

    <h4 class="h4-standout"> Strategies:</h4><br>
    <ul>
        <li style="list-style-type: none;" th:each="intervention : ${domain.interventions}">
            <a th:href="@{'/view/' + ${intervention.id}}" th:text="${intervention.name}"></a>
        </li><br>
    </ul>
    </p>
</div>

<div class="footer">
</div>

<script>
    let navSlide = () => {
    let burger = document.querySelector('.burger');
    let nav = document.querySelector('.navbar-nav');
    let navLinks = document.querySelectorAll('.navbar-nav li');


    burger?.addEventListener('click', () => {
        nav.classList.toggle('nav-active');

        navLinks.forEach((link, index) => {
            if(link.style.animation) {
                link.style.animation = '';
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.1}s`;
            }
        });

            burger.classList.toggle('toggle');
        });
    }

    navSlide();
</script>
</body>
</html>